@model List<CashRequest>
@{
    ViewData["Title"] = "Home Page";
    var incomingTotal = 0.00;
    var outgoingTotal = 0.00;
}

<div class="text-center">

    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="py-2">Ongoing Cash Requests</h2>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Name</h5>
                        </div>
                        <div class="col">
                            <h5 class="card-title">Amount</h5>
                        </div>
                        <div class="col">
                            <h5 class="card-title">Type</h5>
                        </div>
                        <div class="col">
                            <h5 class="card-title">Due Date</h5>
                        </div>
                    </div>
                </div>
                @foreach (var cashRequest in Model)
                {
                    if (cashRequest.Type == "Incoming")
                    {
                        incomingTotal += cashRequest.Amount;
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header bg-success" id="headingOne_@cashRequest.CashRequestID" data-toggle="collapse" data-target="#collapseOne_@cashRequest.CashRequestID" aria-expanded="false" aria-controls="collapseOne_@cashRequest.CashRequestID">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="card-title">@cashRequest.Recipent</h5>
                                            </div>
                                            <div class="col">
                                                <p class="card-text">$@cashRequest.Amount</p>
                                            </div>
                                            <div class="col">
                                                <p class="card-text">@cashRequest.Type</p>
                                            </div>
                                            <div class="col">
                                                <p class="card-text">@cashRequest.DueDate.ToString("MM/dd/yyyy")</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="collapseOne_@cashRequest.CashRequestID" class="collapse" aria-labelledby="headingOne_@cashRequest.CashRequestID" data-parent="#accordion">
                                    <div class="card-body">
                                        <p class="card-text">@cashRequest.Description</p>
                                        <div class="container ">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="card-text">Created on: <br />@cashRequest.CreationDate.ToString("MM/dd/yyyy") </p>
                                                </div>
                                                <div class="coL-6">
                                                    <button type="button" class="btn btn-primary">Finish</button>
                                                    <button type="button" class="btn btn-secondary">Edit</button>
                                                    <button type="button" class="btn btn-danger">Delete</button>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">Status: <br /> Awaiting</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        outgoingTotal += cashRequest.Amount;
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header bg-danger" id="headingOne_@cashRequest.CashRequestID" data-toggle="collapse" data-target="#collapseOne_@cashRequest.CashRequestID" aria-expanded="false" aria-controls="collapseOne_@cashRequest.CashRequestID">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="card-title">@cashRequest.Recipent</h5>
                                            </div>
                                            <div class="col">
                                                <p class="card-text">$@cashRequest.Amount</p>
                                            </div>
                                            <div class="col">
                                                <p class="card-text">@cashRequest.Type</p>
                                            </div>
                                            <div class="col">
                                                <p class="card-text">@cashRequest.DueDate.ToString("MM/dd/yyyy")</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="collapseOne_@cashRequest.CashRequestID" class="collapse" aria-labelledby="headingOne_@cashRequest.CashRequestID" data-parent="#accordion">
                                    <div class="card-body">
                                        <p class="card-text">@cashRequest.Description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col">
                <h3 class="py-4">Total Money Owed: @incomingTotal</h3>
                <h3 class="py-4">Total Money Due: @outgoingTotal</h3>
                <button type="button" class="btn btn-primary my-4" data-toggle="modal" data-target="#exampleModal">Create New Cash Request</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">@@</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Recipent" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                    <div class="input-group-append">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>
                                <div class="input-group-sm">
                                    <input type="text" class="form-control" placeholder="Reason" aria-label="Reason" aria-describedby="basic-addon1" />
                                </div>
                                <input type="date" value="2020-03-22" min="2020-01-01" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Create Request</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
