@model List<CashRequest>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Notifications";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="py-2">Incoming Cash Requests</h2>
                @foreach (var cashRequest in Model)
                {
                    if (cashRequest.Type == "Incoming" && cashRequest.State == "Created")
                    {
                        if (cashRequest.Recipent == User.Identity.Name)
                        {
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne_@cashRequest.CashRequestID" data-toggle="collapse" data-target="#collapseOne_@cashRequest.CashRequestID" aria-expanded="false" aria-controls="collapseOne_@cashRequest.CashRequestID" style="background-color: #F39595">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <h5 class="card-title">@cashRequest.User</h5>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">$@cashRequest.Amount</p>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">Outgoing</p>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">@cashRequest.DueDate.ToString("MM/dd/yyyy")</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="collapseOne_@cashRequest.CashRequestID" class="collapse" aria-labelledby="headingOne_@cashRequest.CashRequestID" data-parent="#accordion">
                                        <div class="card-body">
                                            <p class="card-text">@cashRequest.Description</p>
                                            <div class="container ">
                                                <div class="row">
                                                    <div class="col">
                                                        <p class="card-text">Created on: <br />@cashRequest.CreationDate.ToString("MM/dd/yyyy") </p>
                                                    </div>
                                                    <div class="col">
                                                        <a class="btn btn-danger" asp-controller="Delete" asp-action="Delete" asp-route-id="@cashRequest.CashRequestID">Decline</a>
                                                    </div>
                                                    <div class="col">
                                                        <a class="btn btn-primary" asp-controller="Functionality" asp-action="Accept" asp-route-id="@cashRequest.CashRequestID">Accept</a>
                                                    </div>
                                                    <div class="col">
                                                        <p class="card-text">Status: <br /> @cashRequest.State</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                    else if (cashRequest.Type == "Outgoing" && cashRequest.State == "Created")
                    {
                        if (cashRequest.Recipent == User.Identity.Name)
                        {
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne_@cashRequest.CashRequestID" data-toggle="collapse" data-target="#collapseOne_@cashRequest.CashRequestID" aria-expanded="false" aria-controls="collapseOne_@cashRequest.CashRequestID" style="background-color: #9EEDA1">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <h5 class="card-title">@cashRequest.User</h5>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">$@cashRequest.Amount</p>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">Incoming</p>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">@cashRequest.DueDate.ToString("MM/dd/yyyy")</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="collapseOne_@cashRequest.CashRequestID" class="collapse" aria-labelledby="headingOne_@cashRequest.CashRequestID" data-parent="#accordion">
                                        <div class="card-body">
                                            <p class="card-text">@cashRequest.Description</p>
                                            <div class="container ">
                                                <div class="row">
                                                    <div class="col">
                                                        <p class="card-text">Created on: <br />@cashRequest.CreationDate.ToString("MM/dd/yyyy") </p>
                                                    </div>
                                                    <div class="col">
                                                        <a class="btn btn-danger" asp-controller="Delete" asp-action="Delete" asp-route-id="@cashRequest.CashRequestID">Decline</a>
                                                    </div>
                                                    <div class="col">
                                                        <a class="btn btn-primary" asp-controller="Functionality" asp-action="Accept" asp-route-id="@cashRequest.CashRequestID">Accept</a>
                                                    </div>
                                                    <div class="col">
                                                        <p class="card-text">Status: <br /> @cashRequest.State</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="col">
                <h2 class="py-2">Incoming Completion Requests</h2>
                @foreach (var cashRequest in Model)
                {
                    if (cashRequest.Type == "Incoming" && cashRequest.State == "Sent" && cashRequest.CompletionRequestUser != User.Identity.Name)
                    {
                        if (cashRequest.Recipent == User.Identity.Name)
                        {
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne_@cashRequest.CashRequestID" data-toggle="collapse" data-target="#collapseOne_@cashRequest.CashRequestID" aria-expanded="false" aria-controls="collapseOne_@cashRequest.CashRequestID" style="background-color: #F39595">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <h5 class="card-title">@cashRequest.User</h5>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">$@cashRequest.Amount</p>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">Outgoing</p>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">@cashRequest.DueDate.ToString("MM/dd/yyyy")</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="collapseOne_@cashRequest.CashRequestID" class="collapse" aria-labelledby="headingOne_@cashRequest.CashRequestID" data-parent="#accordion">
                                        <div class="card-body">
                                            <p class="card-text">@cashRequest.Description</p>
                                            <div class="container ">
                                                <div class="row">
                                                    <div class="col">
                                                        <p class="card-text">Created on: <br />@cashRequest.CreationDate.ToString("MM/dd/yyyy") </p>
                                                    </div>
                                                    <div class="col">
                                                        <a class="btn btn-primary" asp-controller="Functionality" asp-action="Complete" asp-route-id="@cashRequest.CashRequestID">Complete</a>
                                                    </div>
                                                    <div class="col">
                                                        <p class="card-text">Status: <br /> @cashRequest.State</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (cashRequest.User == User.Identity.Name)
                        {
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne_@cashRequest.CashRequestID" data-toggle="collapse" data-target="#collapseOne_@cashRequest.CashRequestID" aria-expanded="false" aria-controls="collapseOne_@cashRequest.CashRequestID" style="background-color: #9EEDA1">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <h5 class="card-title">@cashRequest.Recipent</h5>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">$@cashRequest.Amount</p>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">@cashRequest.Type</p>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">@cashRequest.DueDate.ToString("MM/dd/yyyy")</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="collapseOne_@cashRequest.CashRequestID" class="collapse" aria-labelledby="headingOne_@cashRequest.CashRequestID" data-parent="#accordion">
                                        <div class="card-body">
                                            <p class="card-text">@cashRequest.Description</p>
                                            <div class="container ">
                                                <div class="row">
                                                    <div class="col">
                                                        <p class="card-text">Created on: <br />@cashRequest.CreationDate.ToString("MM/dd/yyyy") </p>
                                                    </div>
                                                    <div class="col">
                                                        <a class="btn btn-primary" asp-controller="Functionality" asp-action="Complete" asp-route-id="@cashRequest.CashRequestID">Complete</a>
                                                    </div>
                                                    <div class="col">
                                                        <p class="card-text">Status: <br /> @cashRequest.State</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else if (cashRequest.Type == "Outgoing" && cashRequest.State == "Sent" && cashRequest.CompletionRequestUser != User.Identity.Name)
                    {
                        if (cashRequest.Recipent == User.Identity.Name)
                        {
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne_@cashRequest.CashRequestID" data-toggle="collapse" data-target="#collapseOne_@cashRequest.CashRequestID" aria-expanded="false" aria-controls="collapseOne_@cashRequest.CashRequestID" style="background-color: #9EEDA1">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <h5 class="card-title">@cashRequest.User</h5>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">$@cashRequest.Amount</p>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">Incoming</p>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">@cashRequest.DueDate.ToString("MM/dd/yyyy")</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="collapseOne_@cashRequest.CashRequestID" class="collapse" aria-labelledby="headingOne_@cashRequest.CashRequestID" data-parent="#accordion">
                                        <div class="card-body">
                                            <p class="card-text">@cashRequest.Description</p>
                                            <div class="container ">
                                                <div class="row">
                                                    <div class="col">
                                                        <p class="card-text">Created on: <br />@cashRequest.CreationDate.ToString("MM/dd/yyyy") </p>
                                                    </div>
                                                    <div class="col">
                                                        <a class="btn btn-primary" asp-controller="Functionality" asp-action="Complete" asp-route-id="@cashRequest.CashRequestID">Complete</a>
                                                    </div>
                                                    <div class="col">
                                                        <p class="card-text">Status: <br /> @cashRequest.State</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (cashRequest.User == User.Identity.Name)
                        {
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne_@cashRequest.CashRequestID" data-toggle="collapse" data-target="#collapseOne_@cashRequest.CashRequestID" aria-expanded="false" aria-controls="collapseOne_@cashRequest.CashRequestID" style="background-color: #F39595">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <h5 class="card-title">@cashRequest.Recipent</h5>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">$@cashRequest.Amount</p>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">@cashRequest.Type</p>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text">@cashRequest.DueDate.ToString("MM/dd/yyyy")</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="collapseOne_@cashRequest.CashRequestID" class="collapse" aria-labelledby="headingOne_@cashRequest.CashRequestID" data-parent="#accordion">
                                        <div class="card-body">
                                            <p class="card-text">@cashRequest.Description</p>
                                            <div class="container ">
                                                <div class="row">
                                                    <div class="col">
                                                        <p class="card-text">Created on: <br />@cashRequest.CreationDate.ToString("MM/dd/yyyy") </p>
                                                    </div>
                                                    <div class="col">
                                                        <a class="btn btn-primary" asp-controller="Functionality" asp-action="Complete" asp-route-id="@cashRequest.CashRequestID">Complete</a>
                                                    </div>
                                                    <div class="col">
                                                        <p class="card-text">Status: <br /> @cashRequest.State</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
